* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: oklch(0.5494 0.2295 281.96);
  --editor-height: 90vh;
}

body, button {
  font-family: 'Inter', sans-serif;
}

.monaco-highlighted-label {
  font-size: 14px;
}

g.node {
  cursor: pointer;
  pointer-events: all;
}
g:where(.node, .edge).unreachable {
  opacity: 0.5;
}
