* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: oklch(0.5494 0.2295 281.96);
  --editor-height: 90vh;
  --monospace: 'Google Sans Code', monospace;

  --severity-error: oklch(0.57 0.191 22.22);
  --severity-warning: oklch(0.75 0.169 91.61);
  --severity-hint: oklch(0.7 0.07 156);
}

body, button {
  font-family: 'Inter', sans-serif;
}

.monaco-highlighted-label {
  font-size: 14px;
}

g.node {
  cursor: pointer;
  pointer-events: all;
}
g:where(.node, .edge).unreachable {
  opacity: 0.5;
}
