name: test

on: [push, pull_request]

jobs:
  full:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo clippy --all-targets -- -D warnings
      - run: cargo test

  server:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo test -p wat_server
